@import "tailwindcss";

:root {
  --wa-green: #00a884;
  --wa-green-dark: #008069;
  --wa-bg-chat: #efeae2;
  --wa-bubble-out: #d9fdd3;
}

html,
body {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
